@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

color-red {
    --red: hsl(0, 78%, 62%);
}
color-cyan {
    --cyan: hsl(180, 62%, 55%);
}

color-orange {
    --orange: hsl(34, 97%, 64%);
}

color-blue {
    --blue: hsl(212, 86%, 64%);
}

color-dark-blue {
    --dark-blue: hsl(234, 12%, 34%);
}

color-grayish-blue {
    --grayish-blue: hsl(229, 6%, 66%);
}

color-ight-gray {
    --light-gray: hsl(0, 0%, 98%);
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 20px;
    width: auto;
    max-width: 1100px;
    margin: 0 auto;
}
.header_text {
    margin-top: 100px;
    text-align: center;
    font-size: 45px;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

.header_h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.header_description {
    text-align: center;
    font-size: 20px;
    color: hsl(229, 6%, 66%);
    margin-bottom: 50px;
}

.card_wrapper {
    width: 100%;
    height: 460px;
    margin: 0 auto 100px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 30px;
}

.card {
    position: relative;
    background-color: #ffffff;
    box-shadow: 2px 10px 20px -6px hsl(234, 12%, 34%, 0.75);
    height: 230px;
    padding: 30px;
    border-radius: 10px;
}

.card_header {
    font-size: 22px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.card_description {
    font-size: 16px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.card_img {
    position: absolute;
    top: 140px;
    right: 40px;
}

.card1 {
    border-top: 5px solid  hsl(180, 62%, 55%);
}

.card2 {
    border-top: 5px solid  hsl(0, 78%, 62%);
}

.card3 {
    border-top: 5px solid  hsl(34, 97%, 64%);
}

.card4 {
    border-top: 5px solid   hsl(212, 86%, 64%);
}

.mb {
    margin-bottom: 30px;
}